:root {
    --input-border: #B3B3B3;
    --input-border-hover-and-focus: #7E7E7E;
}

.input {
    width: 100%;
    vertical-align: top;
    height: 50px;
    padding: 11px 22px;
    background-color: #FFFFFF;
    background-clip: padding-box;
    border: 2px solid var(--input-border);
    border-radius: 4px;
    font-family: inherit;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    transition: border-color 0.2s ease,
                box-shadow 0.2s ease;
}

.input::placeholder {
    opacity: 1;
    font-style: normal;
    color: #999999;
}

.input:hover {
    border-color: var(--input-border-hover-and-focus);
}

.input:focus-visible {
    border-color: var(--input-border-hover-and-focus);
    box-shadow: 0 0 0 1px var(--input-border-hover-and-focus);
    transition: none;
}


.input:disabled {
    background-color: #F6F6F6;
    border-color: #B3B3B3;
    color: #999999;
}

.input:disabled::placeholder {
    color: #999999;
}

.input--error,
.input:invalid {
    border-color: var(--error);
    color: var(--error);
}

.input--error::placeholder,
.input:invalid::placeholder {
    color: var(--error);
}


.input[type="password"] {
    font-family: "Tahoma", sans-serif;
    letter-spacing: 2px;
}

textarea.input {
    height: auto;
    min-height: 50px; /* 1 row */
    max-height: 266px; /* 10 rows */
    resize: vertical;
}


select.input {
    appearance: none;
    padding-right: 50px;
    background-image: url("../vectors/dropdown.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: right 15px center;
    cursor: pointer;
}

select.input:hover {
    border-color: var(--input-border);
    box-shadow: none;
    background-color: #F6F6F6;
}

select.input--error {
    background-image: url("../vectors/dropdown-error.svg");
}
